/* NavBar.css */
.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between; /* Distribute space between links */
    width: 100%; /* Take up full width */
    list-style-type: none; /* Remove default list styles (including bullet points) */
  }
  
  .links a {
    text-decoration: none;
    margin-right: 20px; /* Add space between links */
  }
  
  .links a:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  

  .App-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .links li {
    margin: 0 1rem;
  }
  
 .btn{
  color: rgb(249, 249, 248);
  background-color:#4fed28;
 }
  